.list {
  padding-top: 2rem;
}
.flex__block {
  display: flex;
  padding-top: 0.5rem;
}
.flex__div {
  width: auto;
  padding-right: 10px;
}
.flex__select {
  width: min-content;
  margin-right: 10px;
  cursor: pointer;
}
.delete__btn{
    width: min-content;
    cursor: pointer;
}
.block__link{
    width: auto;
    margin-left: 10px;
}
